<br>
<div fxLayout="column" fxLayoutAlign="center center" class="content">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <button mat-icon-button (click)="goToHome()">
            <mat-icon>home</mat-icon> 
        </button>
        <button mat-icon-button (click)="goBack()">
            <mat-icon>keyboard_return</mat-icon> 
        </button>
    </div>
    <mat-card class="card">
        <mat-card-title>
            Ads
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
                <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                </mat-form-field>
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" class="content">
                    <button mat-raised-button>Create</button>
                    <button mat-raised-button>Delete</button>
                </div>
            </div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef> Created At </th>
                        <td mat-cell *matCellDef="let element"> {{ element.created_at | date: 'MMM d, y, h:mm:ss a' }} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef> Product </th>
                        <td mat-cell *matCellDef="let element"> {{ element.product }} </td>
                    </ng-container>

                    <ng-container matColumnDef="creator">
                        <th mat-header-cell *matHeaderCellDef> Creator </th>
                        <td mat-cell *matCellDef="let element"> {{ element.creator }} </td>
                    </ng-container>

                    <ng-container matColumnDef="recipient">
                        <th mat-header-cell *matHeaderCellDef> Recipient </th>
                        <td mat-cell *matCellDef="let element"> {{ element.recipient }} </td>
                    </ng-container>

                    <ng-container matColumnDef="nr_click">
                        <th mat-header-cell *matHeaderCellDef> # Clicks </th>
                        <td mat-cell *matCellDef="let element"> {{ element.nr_click }} </td>
                    </ng-container>

                    <ng-container matColumnDef="acked">
                        <th mat-header-cell *matHeaderCellDef> # Acks </th>
                        <td mat-cell *matCellDef="let element"> {{ element.acked }} </td>
                    </ng-container>

                    <ng-container matColumnDef="saving">
                        <th mat-header-cell *matHeaderCellDef> Saving % </th>
                        <td mat-cell *matCellDef="let element"> {{ element.saving }} </td>
                    </ng-container>

                    <ng-container matColumnDef="scope">
                        <th mat-header-cell *matHeaderCellDef> Scope </th>
                        <td mat-cell *matCellDef="let element"> {{ element.scope }} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element"> <mat-icon>arrow_right_alt</mat-icon> </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of product elements">
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<br>
