<br>
<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <button mat-icon-button (click)="goToHome()">
            <mat-icon>home</mat-icon> 
        </button>
        <button mat-icon-button (click)="goBack()">
            <mat-icon>keyboard_return</mat-icon> 
        </button>
    </div>
    <mat-card class="card">
        <mat-card-title>
            Ad 
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
                <mat-card class="card">
                    <mat-list>
                        <mat-list-item> {{ ad.created_at | date: 'MMM d, y, h:mm:ss a' }} </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item> {{ ad.creator }} for {{ ad.recipient }} </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item> {{ ad.product }} </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item> {{ ad.scope }} </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item> {{ ad.nr_click }} click(s) and {{ ad.acked }} time(s) acked </mat-list-item>
                    </mat-list>
                </mat-card>
                <mat-card class="card">
                    <mat-form-field class="example-full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput rows="14" placeholder="...">{{ ad.description }}</textarea>
                    </mat-form-field>
                </mat-card>
                <mat-card class="card">
                    <plotly-plot [data]="singleStatSaving.data" [layout]="singleStatSaving.layout"></plotly-plot>
                </mat-card>
            </div>
            <br>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
                <plotly-plot [data]="barChartScope1Saving.data" [layout]="barChartScope1Saving.layout"></plotly-plot>
                <plotly-plot [data]="barChartScope2Saving.data" [layout]="barChartScope2Saving.layout"></plotly-plot>
                <plotly-plot [data]="barChartScope3Saving.data" [layout]="barChartScope3Saving.layout"></plotly-plot>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<br>
