<br>
<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <button mat-icon-button (click)="goToHome()">
            <mat-icon>home</mat-icon> 
        </button>
        <button mat-icon-button (click)="goBack()">
            <mat-icon>keyboard_return</mat-icon> 
        </button>
    </div>
    <mat-card class="card">
        <mat-card-title>
            Ad 
        </mat-card-title>
        <mat-card-content>
            Distinguish B2C Vs B2B
            Display description
            Display savings (in terms of scope?)
        </mat-card-content>
    </mat-card>
</div>
<br>
