<mat-dialog-content>
    <div class="content">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
            <button mat-fab disabled>
                <mat-icon>perm_identity</mat-icon>
            </button>
        </div>
        <br>
        <mat-list>
            <mat-list-item> {{ user.name }} {{ user.surname }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> {{ user.role }} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> {{ user.company }} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> {{ company.address }} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> {{ company.country }} </mat-list-item>
        </mat-list>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>