<div>
    <br>
    <div class="container">
        <div class="container">
            <div fxLayout="column" fxLayoutAlign="center center" class="content">
                <mat-card class="card">
                    <mat-card-title>
                        Welcome {{ user.name }}, {{ user.role }} at {{ user.company }}!
                    </mat-card-title>
                </mat-card>
            </div>
        </div>
        <br>
        <div class="container">
            <div echarts [options]="chartOption"></div>
        <div class="container">
            <div echarts [options]="echartsOptions"></div>
        </div>
    </div>
    <br>
</div>