<div>
    <br>
    <div class="container">
        <div class="container">
            <div fxLayout="column" fxLayoutAlign="center center" class="content">
                <mat-card class="card">
                    <mat-card-title>
                        Emissions summary for {{ user.company }}
                    </mat-card-title>
                </mat-card>
            </div>
        </div>
        <br>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
            <mat-card class="card">
                <mat-card-content>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
                        <plotly-plot [data]="gauge1.data" [layout]="gauge1.layout"></plotly-plot>
                        <plotly-plot [data]="gauge2.data" [layout]="gauge2.layout"></plotly-plot>
                        <plotly-plot [data]="gauge3.data" [layout]="gauge3.layout"></plotly-plot>
                        <plotly-plot [data]="indicator1.data" [layout]="indicator1.layout"></plotly-plot>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <br>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
            <mat-card class="card">
                <mat-card-content>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
                        <plotly-plot [data]="lineSeries1.data" [layout]="lineSeries1.layout"></plotly-plot>
                        <plotly-plot [data]="pie1.data" [layout]="pie1.layout"></plotly-plot>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <br>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
            <mat-card class="card">
                <mat-card-content>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
                        <plotly-plot [data]="sankey1.data" [layout]="sankey1.layout"></plotly-plot>
                        <plotly-plot [data]="sanburst1.data" [layout]="sanburst1.layout"></plotly-plot>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <br>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
            <mat-card class="card">
                <mat-card-content>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content" width="100%">
                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [oneToOne]="oneToOneFlag" [(update)]="updateFlag" [callbackFunction]="chartCallback"></highcharts-chart>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>