<div>
    <br>
    <div class="container">
        <div class="container">
            <div fxLayout="column" fxLayoutAlign="center center" class="content">
                <mat-card class="card">
                    <mat-card-title>
                        Welcome {{ user.name }}, {{ user.role }} at {{ user.company }}!
                    </mat-card-title>
                </mat-card>
            </div>
        </div>
        <br>
        <div class="container">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
                <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
                <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
                <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
            </div>
        </div>
        <br>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" class="content">
                <plotly-plot [data]="graph1.data" [layout]="graph1.layout"></plotly-plot>
            </div>
        <br>
    </div>
</div>